$red: #ff5782;
$green: #8ee067;
$blue: #327ff6;
$pink: #f56af9;
$pinkDark: #c338c7;
$purple: #945edc;
$purpleDark: #6b36b3;
$bluish: #293951;
$bluishDark: #17263d;
$gray: #696d74;
$grayDark: #4a4545;
$white: #fff;
$black: #000;
