.features {
  padding: 50px 0;
  //   position: relative;
  background: linear-gradient(213.28deg, #c338c7 -40.34%, #6b36b3 95.69%);

  .container {
    position: relative;
  }

  &-wrapper {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
  }

  .single-card {
    padding: 20px;
    flex: 0 0 50%;
    width: 50%;
    text-align: center;
    &_inner {
      .subtitle {
        margin-bottom: 11px;
      }
    }
    &_title {
      color: $white;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: -0.36px;
    }
    &_text {
      margin-bottom: 38px;
      font-size: 14px;
      line-height: 27px;
      letter-spacing: -0.16px;
    }
  }

  [class|="divider"] {
    position: absolute;
    z-index: 50;
  }

  .divider {
    &-x {
      top: 50%;
      left: 0%;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.0001) 3.29%,
        #ffffff 43.52%,
        rgba(255, 255, 255, 0.0001) 88.49%
      );
      transform: translateY(-50%);
    }
    &-y {
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.0001) 0%,
        #ffffff 47.21%,
        rgba(255, 255, 255, 0.0001) 100%
      );
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding: 90px 0 66px;

    .single-card {
      &_title {
        font-size: 24px;
        letter-spacing: -0.36px;
      }
      &_text {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .features {
    padding: 126px 0;
    .single-card {
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 36px;
      max-width: 386px;
      &:nth-last-child(-n + 2) {
        margin-bottom: -110px;
        padding-top: 90px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    .single-card {
      max-width: initial;
      &_title {
        font-size: 27px;
        letter-spacing: -0.48px;
      }
      &_text {
        font-size: 17px;
        letter-spacing: -0.2px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .features {
    .single-card {
      flex: 0 0 100%;
    }
    [class|="divider"] {
      display: none;
    }
  }
}
